








.header .navbar .navbar-nav {
	 background-color: rgba(60, 26, 91, 0.15);
	 border-radius: 100px;
}
 .header .navbar .navbar-nav li {
	 box-shadow: none;
}
 .header .navbar .navbar-nav li:focus {
	 outline: 0;
}
 .header .navbar .navbar-nav .active {
	 background-color: #3c1a5b;
	 border-radius: 100px;
	 font-weight: bold;
	 opacity: 1;
	 transition: 0.3s;
}
 .header .navbar .navbar-nav .active:hover {
	 opacity: 0.8;
}
 .header .navbar .navbar-nav .nav-link {
	 color: #fff !important;
	 font-size: 0.9rem;
	 padding: 12px 30px;
	 cursor: pointer;
}
 @media only screen and (max-width: 991px) {
	 .header .navbar .navbar-nav {
		 border-radius: 0px !important;
	}
}
 @media only screen and (max-width: 768px) {
	 .header .navbar .navbar-nav {
		 border-radius: 0px !important;
	}
}

 .home {
	 background: url('../images/home_bg_1.png') 0% 0% no-repeat, url('../images/home_bg_2.png') 100% 0% no-repeat, url('../images/home_bg_2.png') 100% 25% no-repeat, url('../images/home_bg_3.png') 0% 26% no-repeat, url('../images/home_bg_1.png') 114% 44% no-repeat;
	 background-size: 40%, 40%, 30%, 40%, 40%;
	 background-color: #b9b2dc;
}
 .home hr {
	 margin: 0px;
	 height: 3vh;
	 background-color: #ef5455;
}
 .home .fun-happen-here {
	 margin-top: 5rem;
}
 .home .fun-happen-here .btn-primary {
	 padding: 8px 30px;
}
 .home .fun-happen-here .info-box {
	 background: url('../images/info-box-right.png') -1% 100% no-repeat, url('../images/info-box-left.png') 101% 0% no-repeat;
	 background-size: 10%, 10%;
	 border-radius: 10px;
	 background-color: #f6f6f6;
}
 .home .why-us {
	 position: relative;
}
 .home .why-us h2 {
	 font-size: 3.5rem;
}
 .home .why-us .why-us-image {
	 position: absolute;
	 left: 15px;
	 bottom: 35px;
	 z-index: 9999;
}
 .home .why-us .card {
	 border-radius: 20px;
	 border: none;
	 background-color: #f6f6f6;
	 width: 17rem;
}
 .home .why-us .card .card-body {
	 padding: 0px;
}
 .home .why-us .card .card-img-top {
	 width: 130px;
	 height: 130px;
	 margin: -70px auto 0;
}
 .home .why-us .card .card-footer {
	 height: 24px;
	 padding: 0;
	 border-top: 0px;
	 background-color: #f3a712;
	 border-radius: 0 0 20px 20px;
}
 .home .why-us .card .btn-custom {
	 background-color: #0496ff;
	 color: white;
	 border-radius: 100px;
	 padding: 10px 15px;
	 opacity: 1;
	 border: 0px;
	 transition: 0.3s;
}
 .home .why-us .card .btn-custom:hover {
	 opacity: 0.8;
}
 .home .our-team {
	 background-image: url('../images/our-team-bg.png');
	 background-size: cover;
	 width: 100%;
	 height: 90vh;
	 background-repeat: no-repeat;
	 padding: 0 8rem 8rem 8rem;
	 position: relative;
}
 .home .our-team .our-team-bottom {
	 position: absolute;
	 right: 0;
	 bottom: 0;
}
 .home .our-team h2 {
	 color: #ef5455;
}
 .home .our-program {
	 background: url('../images/our-program-bg-3.png') 0% 100% no-repeat, url('../images/our-program-bg-4.png') 100% 100% no-repeat, url('../images/our-program-bg-1.png') 0% 100% no-repeat, url('../images/our-program-bg-2.png') 100% 100% no-repeat;
	 background-size: 20%, 20%, 30%, 30%;
	 padding-top: 5rem;
	 padding-bottom: 8rem;
	 background-color: #f6f6f6;
}
 .home .our-program p {
	 color: #095178;
}
 .home .explore-the-fun {
	 background: url('../images/home_bg_2.png') 100% 43% no-repeat, url('../images/home_bg_3.png') 0% 43% no-repeat;
	 background-size: 38%, 38%;
	 background-color: #a6dae8;
}
 .home .explore-the-fun p {
	 color: #063a56;
}
 @media only screen and (max-width: 1199px) and (min-width: 992px) {
	 .home .why-us .card {
		 width: 14rem;
	}
	 .home .our-team {
		 padding: 0px 4rem 4rem 4rem;
		 height: 63vh;
	}
	 .home .our-team .our-team-bottom {
		 width: 500px;
		 height: 300px;
	}
}
 @media only screen and (max-width: 992px) {
	 .home .why-us .card {
		 width: 11rem;
	}
	 .home .our-team .our-team-bottom {
		 width: 500px;
		 height: 300px;
	}
}
 @media only screen and (max-width: 768px) and (min-width: 360px) {
	 .home .why-us .why-us-image {
		 display: none;
	}
	 .home .why-us .card {
		 margin: 3.5rem auto;
		 width: 17rem;
	}
	 .home .our-team {
		 padding: 0 2rem 2rem 2rem;
	}
	 .home .our-team .our-team-bottom {
		 width: 300px;
		 height: 200px;
	}
}
 @media only screen and (max-width: 360px) {
	 .home .our-team {
		 padding: 0 1rem 1rem 1rem;
	}
	 .home .our-team .our-team-bottom {
		 width: 300px;
		 height: 200px;
	}
}
 @media only screen and (max-width: 320px) {
	 .home .our-team {
		 padding: 0px;
	}
	 .home .our-team .our-team-bottom {
		 width: 200px;
		 height: 100px;
	}
}
/* You can add global styles to this file, and also import other style files */
/* general style */
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: "Montserrat", sans-serif;
}
 h1 {
	 font-size: 4rem;
	 font-weight: bold;
	 color: #3c1a5b;
	 line-height: 1.1;
}
 h2 {
	 font-size: 3rem;
	 font-weight: bold;
	 color: #3c1a5b;
	 line-height: 1.1;
}
 h3 {
	 color: #3c1a5b;
}
 h3 {
	 font-size: 1.5rem;
	 font-weight: bold;
	 line-height: 1.1;
}
 p {
	 font-size: 1rem;
	 line-height: 1.6;
	 font-weight: 400;
	 color: #3c1a5b;
}
 .btn-primary {
	 background-color: #3c1a5b !important;
	 border-radius: 100px;
	 padding: 7px 22px;
	 opacity: 1;
	 border: 0px;
	 transition: 0.3s;
}
 .text-color-primary {
	 color: #3c1a5b;
}
 .text-color-secondary {
	 color: #ef5455;
}
 .btn-primary:hover {
	 opacity: 0.8;
	 background-color: #3c1a5b !important;
}
 .btn-secondary {
	 background-color: #ef5455 !important;
	 border-radius: 100px;
	 padding: 7px 22px;
	 border: 0px;
	 opacity: 1;
	 transition: 0.3s;
}
 .btn-secondary:hover {
	 opacity: 0.8;
	 background-color: #ef5455 !important;
}

.footer {
	 background: url('../images/footer-bg-2.png') 0% 0% no-repeat, url('../images/footer-bg-1.png') 100% 0% no-repeat;
	 background-size: 25%, 23%;
	 background-color: #a1ee9b;
}
 .footer h3 {
	 color: #034c3c;
}
 .footer .footer-image {
	 margin-top: -90px;
}
 .footer .social-icons .fa-facebook {
	 font-size: 1.5rem;
	 color: #265b1a;
	 cursor: pointer;
}
 .footer .social-icons .ng-fa-icon {
	 margin: 1%;
}
 .footer .social-icons .fa-google {
	 font-size: 1.5rem;
	 color: #82435a;
	 cursor: pointer;
}
 .footer .social-icons .fa-twitter {
	 font-size: 1.5rem;
	 color: #095178;
	 cursor: pointer;
}
 .footer .social-icons .fa-linkedin {
	 font-size: 1.5rem;
	 color: #8e6b34;
	 cursor: pointer;
}
 .footer .nav-link {
	 color: #034c3c;
	 font-size: 0.9rem;
}
 .footer .input-group-text {
	 color: #fff !important;
	 background-color: #f3a712 !important;
	 cursor: pointer;
}
 .footer input {
	 border: none;
	 border-radius: 5px;
}
 .footer input.form-control:focus {
	 box-shadow: none;
}
 .footer .btn-primary {
	 background-color: #034c3c !important;
}
.social-icons i {
    font-size: 30px;
    margin-left: 10px;
}
.social-icons .bxl-facebook-circle {
	color: #265b1a;
}
.social-icons .bxl-google {
	color: #82435a;
}
.social-icons .bxl-linkedin-square {
	color: #8e6b34;
}
.social-icons .bxl-twitter {
	color: #095178;
}
.input-group-text i {
	font-size: 20px;
}

 @media only screen and (max-width: 768px) {
	 .footer .footer-image {
		 margin-top: 0px;
		 display: none;
	}
}


/* end general style */
